@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex-1 font-work-sans rounded p-2 m-4 text-white bg-brand-light;
  }

  .btn:hover {
    @apply bg-brand;
  }

  .btn:focus {
    @apply ring-teal-300 border-teal-300 outline-none;
  }

  .btn-transition {
    @apply transform transition;
  }
  .btn-transition:hover {
    @apply -translate-y-0.5;
  }

  .outline-btn {
    @apply bg-transparent mr-auto text-brand-light rounded shadow p-2 border 
      border-brand-light font-work-sans;
  }

  .outline-btn:hover {
    @apply bg-teal-500 text-white shadow-lg border-transparent;
  }

  .outline-btn:focus {
    @apply outline-none;
  }

  .slide-card {
    @apply flex flex-col transition relative m-0 h-80 w-96 min-w-min p-6 
        rounded-2xl bg-white clear-both shadow-left;
  }

  .slidecard:focus-within ~ .slide-card,
  .slide-card:hover ~ .slide-card {
    transform: translateX(50px);
  }

  .slide-card:hover {
    transform: translateY(-1rem);
  }

  .slide-card:not(:first-child) {
    margin-left: -50px;
  }
}

@layer components {
  .messaging-input__input-wrapper {
    @apply flex items-center min-h-60px min-w-[200px] max-w-[400px]  h-fit z-[100] rounded-3xl 
    bg-white border-2 border-gray-400;
  }

  .messaging-input__input-wrapper:focus-within {
    @apply border-brand;
  }

  .str-chat__messaging-input {
    @apply bg-white shadow-md flex items-center p-2 relative mx-auto w-full justify-center;
  }
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

/* 
 * Needed to remove the border line around the hits
 */
.ais-Hits-item {
  width: 100%;
  border-width: 0px;
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

/** LoadingIndicator */
.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

.loader--hide {
  opacity: 0;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Stream chat global css */
.str-chat__textarea {
  display: flex;
  width: 100%;
  align-items: center;
  border: none !important;
  outline: none !important;
}

.str-chat__textarea textarea {
  background: #ffffff;
  padding: 0px 16px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  min-height: 16px;
  border: none !important;
  outline: none !important;
  transition: box-shadow 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
}

.str-chat__textarea textarea:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.str-chat__input--emojipicker {
  z-index: 100;
  left: 36px;
}

.str-chat__thread .str-chat__input--emojipicker {
  position: fixed;
  top: 25% !important;
  right: 330px;
  left: auto;
}

.str-chat {
  box-sizing: border-box; }
  .str-chat *,
  .str-chat *::after,
  .str-chat *::before {
    box-sizing: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.str-chat-channel.messaging .str-chat__main-panel {
  padding: 25px 5px 0px 5px;
}

.str-chat {
  height: calc(100vh - 72px);
  max-height: calc(100vh - 72px);
}

.str-chat-channel .str-chat__container {
  height: calc(100vh - 72px);
}

/* Blue hightlighting fix */
button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
