@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@100;200;300;400;600;800&display=swap");

:root {
  --innerHeight: calc(var(--rawInnerVh, 1vh) * 100); /* Fallbacks to 100vh */
  --sat: env(safe-area-inset-top);
  --sab: env(safe-area-inset-bottom);
  --sar: env(safe-area-inset-right);
  --sal: env(safe-area-inset-left);
  scroll-behavior: smooth;
}

body {
  min-height: calc(100% - env(safe-area-inset-top));

  /* Adjusting for status bars */
  padding: 20 0 0 2; /* fallback for older browsers */
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right)
    constant(safe-area-inset-bottom) constant(safe-area-inset-left);
  padding: var(--sat) var(--sar) var(--sab) var(--sal);

  /* Disable iOS Callouts & highlighting */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@layer components {
  .btn {
    @apply flex-1 font-secondary rounded p-2 my-2 text-white bg-brand;
  }

  .btn:hover {
    @apply bg-brand;
  }

  .btn:focus {
    @apply ring-teal-300 border-teal-300 outline-none;
  }

  .btn-transition {
    @apply transform transition;
  }
  .btn-transition:hover {
    @apply -translate-y-0.5;
  }

  .outline-btn {
    @apply bg-transparent mr-auto text-brand rounded shadow p-2 border 
      border-brand font-secondary;
  }

  .outline-btn:hover {
    @apply bg-teal-500 text-white shadow-lg border-transparent;
  }

  .outline-btn:focus {
    @apply outline-none;
  }

  .slide-card {
    @apply flex flex-col flex-grow transition relative m-0 max-h-80 sm:max-h-96 w-80 sm:w-96 min-w-min p-6 
        rounded-2xl bg-white clear-both shadow-left;
  }

  .slidecard:focus-within ~ .slide-card,
  .slide-card:hover ~ .slide-card {
    transform: translateX(50px);
  }

  .slide-card:hover {
    transform: translateY(-1rem);
  }

  .slide-card:not(:first-child) {
    margin-left: -50px;
  }
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.header-btn {
  @apply p-2 text-brand-cyan-vivid bg-gray-50 align-middle rounded-full hover:text-white hover:bg-brand-cyan-vivid focus:outline-none;
}

.nav-btn {
  @apply flex items-center justify-start w-full p-4 my-2 font-thin uppercase transition-colors duration-200 
  text-brand-shade-darkest hover:text-brand-cyan;
}
.nav-btn-active-r {
  @apply flex items-center justify-start w-full p-4 my-2 font-thin uppercase transition-colors duration-200 
  text-brand-cyan-vivid border-r-4 border-brand bg-gradient-to-r from-white to-brand-light;
}

/* TODO Reinstate when dark mode is implemented */
/* @media (prefers-color-scheme: dark) {
  .nav-btn {
    @apply flex items-center justify-start w-full p-4 my-2 font-thin uppercase transition-colors duration-200 
  text-gray-200 hover:text-brand-cyan;
  }
  .nav-btn:active {
    @apply flex items-center justify-start w-full p-4 my-2 font-thin uppercase transition-colors duration-200 
    text-brand-cyan-vivid border-r-4 border-brand bg-gradient-to-r from-gray-700 to-gray-800;
  }
} */

/* Algolia Instant Search */
/* TODO: Responsive search card */
.ais-Hits {
  @apply w-[80vw] mx-auto p-8 my-8 bg-gray-50
  rounded-lg shadow-xl backdrop-filter backdrop-blur-lg bg-clip-padding z-20;
}
.ais-Hits-list {
  @apply flex flex-wrap space-y-4 items-center justify-center;
}
.ais-Hits-item {
  @apply relative w-full max-w-md px-8 py-4 my-2 bg-white rounded-lg shadow-lg sm:my-0;
}

/** LoadingIndicator */
.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

.loader--hide {
  opacity: 0;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Blue hightlighting fix */
button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: text;
  -khtml-user-select: none;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* Remove spinner from number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  .messaging-input__input-wrapper {
    @apply flex items-center min-h-[60px] min-w-[200px] max-w-[400px]  h-["fit-content"] z-[100] rounded-3xl 
	  bg-white border-2 border-gray-400;
  }

  .messaging-input__input-wrapper:focus-within {
    @apply border-brand;
  }

  .str-chat__messaging-input {
    @apply bg-white shadow-md flex items-center p-2 relative mx-auto w-full justify-center;
  }
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

/* Add tooltips */
@layer components {
  .tooltip {
    @apply invisible absolute;
  }

  .has-tooltip:hover .tooltip,
  .has-tooltip:hover ~ .tooltip {
    @apply visible z-50;
  }
}

/* gradient flow animation */
.gradient-flow {
  background: linear-gradient(
    0.25turn,
    #3fbaeb,
    #3fbaeb,
    #ff72b4,
    #ff72b4,
    #3fbaeb,
    #3fbaeb
  );
  background-size: 600% 600%;

  -webkit-animation: gradient-flow 14s ease-in-out infinite;
  -moz-animation: gradient-flow 14s ease-in-out infinite;
  animation: gradient-flow 14s ease-in-out infinite;
}

@-webkit-keyframes gradient-flow {
  0%,
  100% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@-moz-keyframes gradient-flow {
  0%,
  100% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@keyframes gradient-flow {
  0%,
  100% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* hero wave css */
.bottom-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
  transform: rotate(180deg);
}

.bottom-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 121px;
  transform: rotateY(180deg);
}

/* Haikai waves separator */
.haikai-wave {
  aspect-ratio: 3/2;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* React Vis */
.react-vis-magic-css-import-rule {
  display: inherit;
}
.rv-xy-plot {
  color: #c3c3c3;
  position: relative;
}
.rv-xy-plot__inner {
  display: block;
}
.rv-xy-plot__axis__line {
  fill: none;
  stroke-width: 2px;
  stroke: #e6e6e9;
}
.rv-xy-plot__axis__tick__line {
  stroke: #e6e6e9;
}
.rv-xy-plot__axis__tick__text {
  fill: #6b6b76;
  font-size: 11px;
}
.rv-xy-plot__axis__title text {
  fill: #6b6b76;
  font-size: 11px;
}
.rv-xy-plot__grid-lines__line {
  stroke: #e6e6e9;
}
.rv-xy-plot__circular-grid-lines__line {
  fill-opacity: 0;
  stroke: #e6e6e9;
}
.rv-xy-plot__series {
  position: relative;
}
.rv-xy-plot__series path {
  pointer-events: all;
}
.rv-xy-plot__series--line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}
.rv-crosshair {
  position: absolute;
  font-size: 11px;
  pointer-events: none;
}
.rv-crosshair__line {
  background: #47d3d9;
  width: 1px;
}
.rv-crosshair__inner {
  position: absolute;
  text-align: left;
  top: 0;
}
.rv-crosshair__inner__content {
  border-radius: 4px;
  background: #3a3a48;
  color: #fff;
  font-size: 12px;
  padding: 7px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.rv-crosshair__inner--left {
  right: 4px;
}
.rv-crosshair__inner--right {
  left: 4px;
}
.rv-crosshair__title {
  font-weight: bold;
  white-space: nowrap;
}
.rv-crosshair__item {
  white-space: nowrap;
}
.rv-hint {
  position: absolute;
  pointer-events: none;
}
.rv-hint__content {
  border-radius: 4px;
  padding: 7px 10px;
  font-size: 12px;
  background: #3a3a48;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
  white-space: nowrap;
}
.rv-radial-chart .rv-xy-plot__series--label {
  pointer-events: none;
}
