.mml-container {
  display: flex;
  padding-bottom: 4px;
  padding-top: 0.25rem;
}

/* .mml-container {
    font-family: inherit;
    line-height: 1.26;
    font-size: 15px;
  } */

.mml-container * {
  box-sizing: border-box;
}

.mml-wrap {
  display: block;
  width: 100%;
}

/* .mml-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 66.66%;
  } */
.mml-align-left .mml-wrap {
  margin-right: auto;
}
.mml-align-right .mml-wrap {
  margin-left: auto;
}
.mml-wrap > * {
  border-radius: 16px;
}
.mml-align-left .mml-wrap > * {
  margin-right: auto;
}
.mml-align-right .mml-wrap > * {
  margin-left: auto;
}
.mml-align-left .mml-wrap > *:last-child:not(.mml-btn) {
  border-bottom-left-radius: 0;
}
.mml-align-right .mml-wrap > *:last-child:not(.mml-btn) {
  border-bottom-right-radius: 0;
}

.mml-card {
  width: 100%;
}
.mml-card .mml-btnlist {
  font-size: 14px;
  border: 0;
}
.mml-card > *:not(:first-child):not(:last-child) {
  background: #fff;
}
.base-dark .mml-card > *:not(:first-child):not(:last-child) {
  background: #0e1723;
}

.messaging-light .mml-card > *:not(:first-child):not(:last-child) {
  background: #f7f7f8;
}
.messaging-dark .mml-card > *:not(:first-child):not(:last-child) {
  background: #2d2e2f;
}

.mml-card > .mml-number {
  border-width: 0 1px;
  border-style: solid;
  border-color: #e5e5e6;
}
.base-dark .mml-card > .mml-number {
  border-color: #1b2d46;
}

.messaging-light .mml-card > .mml-number {
  border-color: #d6d6d6;
}
.messaging-dark .mml-card > .mml-number {
  border-color: #252628;
}

.mml-card > .mml-btn {
  min-width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e6;
}
.base-dark .mml-card > .mml-btn {
  border-color: #1b2d46;
}

.messaging-light .mml-card > .mml-btn {
  border-color: #d6d6d6;
}
.messaging-dark .mml-card > .mml-btn {
  border-color: #252628;
}

.mml-card > .mml-btn:last-child {
  padding: 10px 16px;
  border-radius: 0;
}
.mml-align-left .mml-card > .mml-btn:last-child {
  border-bottom-right-radius: 16px;
}
.mml-align-right .mml-card > .mml-btn:last-child {
  border-bottom-left-radius: 16px;
}

.mml-card-body {
  border-width: 0 1px;
  border-style: solid;
  border-color: #e5e5e6;
  background: #fff;
  color: #0e1621;
  font-size: 14px;
}
.base-dark .mml-card-body {
  border-color: #1b2d46;
}

.messaging-light .mml-card-body {
  border-color: #d6d6d6;
}
.messaging-dark .mml-card-body {
  border-color: #252628;
}

.base-dark .mml-card-body {
  background: #0e1723;
}

.messaging-light .mml-card-body {
  background: #f7f7f8;
}
.messaging-dark .mml-card-body {
  background: #2d2e2f;
}

.base-dark .mml-card-body {
  color: #fff;
}

.messaging-light .mml-card-body {
  color: #0e1621;
}
.messaging-dark .mml-card-body {
  color: #e8e8e9;
}

.mml-card-body > .mml-md,
.mml-card-body > .mml-text {
  padding: 0 8px 8px;
}
.mml-card-body > .mml-md:first-of-type,
.mml-card-body > .mml-text:first-of-type {
  padding-top: 8px;
}

.mml-card-header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  min-width: 100%;
  padding: 15px 0;
  font-size: 13px;
  background: #f2f2f2;
  color: #8a898e;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e6;
}
.base-dark .mml-card-header {
  background: #152438;
}

.messaging-light .mml-card-header {
  background: #fff;
}
.messaging-dark .mml-card-header {
  background: #3e4042;
}

.base-dark .mml-card-header {
  color: #868b91;
}

.messaging-light .mml-card-header {
  color: #8c8c8c;
}
.messaging-dark .mml-card-header {
  color: #898a8b;
}

.base-dark .mml-card-header {
  border-color: #1b2d46;
}

.messaging-light .mml-card-header {
  border-color: #d6d6d6;
}
.messaging-dark .mml-card-header {
  border-color: #252628;
}

.mml-card-header .mml-icon {
  padding-left: 16px;
  margin-right: -8px;
}
.mml-card-header__text {
  padding: 0 16px;
  font-weight: bold;
}

.mml-add-to-calendar > .mml-card-body:last-child {
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e5e5e6;
}
.base-dark .mml-add-to-calendar > .mml-card-body:last-child {
  border-bottom-color: #1b2d46;
}

.messaging-light .mml-add-to-calendar > .mml-card-body:last-child {
  border-bottom-color: #d6d6d6;
}
.messaging-dark .mml-add-to-calendar > .mml-card-body:last-child {
  border-bottom-color: #252628;
}

.mml-align-left .mml-add-to-calendar > .mml-card-body:last-child {
  border-bottom-right-radius: 16px;
}
.mml-align-right .mml-add-to-calendar > .mml-card-body:last-child {
  border-bottom-left-radius: 16px;
}

.mml-btn {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none;
  -webkit-appearance: none;
  padding: 6px 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  border-color: #f2f2f2;
  color: #006cff;
  background: #f2f2f2;
  font-family: inherit;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}
.base-dark .mml-btn {
  border-color: #1a232e;
}

.messaging-light .mml-btn {
  border-color: #ebebeb;
}
.messaging-dark .mml-btn {
  border-color: #242424;
}

.base-dark .mml-btn {
  color: #006cff;
}

.messaging-light .mml-btn {
  color: #0283ff;
}
.messaging-dark .mml-btn {
  color: #0283ff;
}

.base-dark .mml-btn {
  background: #152438;
}

.messaging-light .mml-btn {
  background: #fff;
}
.messaging-dark .mml-btn {
  background: #3e4042;
}

.mml-btn:not([disabled]) {
  cursor: pointer;
}
.mml-btn:hover,
.mml-btn:focus {
  border-color: #006cff;
  color: #fff;
  background: #006cff;
}
.base-dark .mml-btn:hover,
.base-dark .mml-btn:focus {
  border-color: #006cff;
}

.messaging-light .mml-btn:hover,
.messaging-light .mml-btn:focus {
  border-color: #0283ff;
}
.messaging-dark .mml-btn:hover,
.messaging-dark .mml-btn:focus {
  border-color: #0283ff;
}

.base-dark .mml-btn:hover,
.base-dark .mml-btn:focus {
  color: #fff;
}

.messaging-light .mml-btn:hover,
.messaging-light .mml-btn:focus {
  color: #fff;
}
.messaging-dark .mml-btn:hover,
.messaging-dark .mml-btn:focus {
  color: #e8e8e9;
}

.base-dark .mml-btn:hover,
.base-dark .mml-btn:focus {
  background: #006cff;
}

.messaging-light .mml-btn:hover,
.messaging-light .mml-btn:focus {
  background: #0283ff;
}
.messaging-dark .mml-btn:hover,
.messaging-dark .mml-btn:focus {
  background: #0283ff;
}

.mml-btn[disabled] {
  border-color: #f2f2f2;
  color: #b2b1b5;
  background: #f2f2f2;
}
.base-dark .mml-btn[disabled] {
  border-color: #152438;
}

.messaging-light .mml-btn[disabled] {
  border-color: #fff;
}
.messaging-dark .mml-btn[disabled] {
  border-color: #3e4042;
}

.base-dark .mml-btn[disabled] {
  color: #57606b;
}

.messaging-light .mml-btn[disabled] {
  color: #b3b3b3;
}
.messaging-dark .mml-btn[disabled] {
  color: #626262;
}

.base-dark .mml-btn[disabled] {
  background: #152438;
}

.messaging-light .mml-btn[disabled] {
  background: #fff;
}
.messaging-dark .mml-btn[disabled] {
  background: #3e4042;
}

.mml-btn:focus {
  outline: none;
}
.mml-btn--floating {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.base-dark .mml-btn--floating {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.messaging-light .mml-btn--floating {
  box-shadow: 0px 2px 5px rgba(0, 74, 174, 0.15);
}
.messaging-dark .mml-btn--floating {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.mml-btn--floating:focus {
  box-shadow: none !important;
}
.mml-btn--with-icon .mml-icon {
  margin-right: 0.4em;
}
.mml-btn--icon {
  padding: 5px 5px;
  border-radius: 100%;
}

.mml-btnlist {
  display: -webkit-flex;
  display: flex;
}
.mml-btnlist--grounded {
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e6;
  background: #f2f2f2;
}
.base-dark .mml-btnlist--grounded {
  border-color: #1b2d46;
}

.messaging-light .mml-btnlist--grounded {
  border-color: #d6d6d6;
}
.messaging-dark .mml-btnlist--grounded {
  border-color: #252628;
}

.base-dark .mml-btnlist--grounded {
  background: #152438;
}

.messaging-light .mml-btnlist--grounded {
  background: #fff;
}
.messaging-dark .mml-btnlist--grounded {
  background: #3e4042;
}
.mml-btnlist--grounded .mml-btn {
  width: 100%;
  margin: 0;
  padding: 12px 16px;
  border-width: 0 0 1px 0;
  border-radius: 0;
  border-color: #e5e5e6;
}
.base-dark .mml-btnlist--grounded .mml-btn {
  border-color: #1b2d46;
}

.messaging-light .mml-btnlist--grounded .mml-btn {
  border-color: #d6d6d6;
}
.messaging-dark .mml-btnlist--grounded .mml-btn {
  border-color: #252628;
}
.mml-btnlist--grounded .mml-btn:not(:hover):not(:focus) {
  background: none;
}
.mml-btnlist--grounded .mml-btn:last-child {
  border-width: 0;
}
.mml-btnlist--grounded .mml-btn--with-icon {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  font-weight: normal;
}
.mml-btnlist--grounded .mml-btn--with-icon:not(:hover):not(:focus) {
  color: #0e1621;
}
.base-dark .mml-btnlist--grounded .mml-btn--with-icon:not(:hover):not(:focus) {
  color: #fff;
}

.messaging-light .mml-btnlist--grounded .mml-btn--with-icon:not(:hover):not(:focus) {
  color: #0e1621;
}
.messaging-dark .mml-btnlist--grounded .mml-btn--with-icon:not(:hover):not(:focus) {
  color: #e8e8e9;
}
.mml-btnlist--floating {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
.mml-align-right .mml-btnlist--floating {
  margin-left: calc(-50% - 8px);
  margin-right: -8px;
}
.mml-align-left .mml-btnlist--floating {
  margin-left: -8px;
  margin-right: calc(-50% - 8px);
}
.mml-btnlist--floating .mml-btn {
  margin: 8px 8px;
}

.mml-align-right .mml-carousel {
  margin-left: -50%;
}

.mml-align-left .mml-carousel {
  margin-right: -50%;
}

.mml-carousel__track {
  display: -webkit-flex;
  display: flex;
  padding: 8px 0;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.mml-carousel__track::-webkit-scrollbar {
  display: none;
}

.mml-carousel__slides {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  min-width: 100%;
}

.mml-carousel__slide {
  scroll-snap-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-right: 8px;
}
.mml-align-right .mml-carousel__slide:first-child {
  margin-left: auto;
}
.mml-carousel__slide:last-child {
  margin-right: 0;
}

.mml-carousel-item > *:not(:first-child):not(:last-child) {
  background: #fff;
}
.base-dark .mml-carousel-item > *:not(:first-child):not(:last-child) {
  background: #0e1723;
}

.messaging-light .mml-carousel-item > *:not(:first-child):not(:last-child) {
  background: #f7f7f8;
}
.messaging-dark .mml-carousel-item > *:not(:first-child):not(:last-child) {
  background: #2d2e2f;
}

.mml-carousel-item > .mml-md,
.mml-carousel-item > .mml-text {
  border-width: 0 1px;
  border-style: solid;
  border-color: #e5e5e6;
  padding: 0 8px 8px;
}
.base-dark .mml-carousel-item > .mml-md,
.base-dark .mml-carousel-item > .mml-text {
  border-color: #1b2d46;
}

.mml-carousel-item > .mml-text {
  border-color: #081e58;
}
.messaging-light .mml-carousel-item > .mml-md,
.messaging-light .mml-carousel-item > .mml-text {
  border-color: #d6d6d6;
}
.messaging-dark .mml-carousel-item > .mml-md,
.messaging-dark .mml-carousel-item > .mml-text {
  border-color: #252628;
}
.mml-carousel-item > .mml-text {
  border-color: #4e00cc;
}
.mml-carousel-item > .mml-md:first-of-type,
.mml-carousel-item > .mml-text:first-of-type {
  padding-top: 8px;
  padding-bottom: 6px;
}
.mml-carousel-item > .mml-md:last-of-type,
.mml-carousel-item > .mml-text:last-of-type {
  -webkit-flex: 1;
  flex: 1;
}

.mml-carousel-item > .mml-text {
  font-size: 11px;
  color: #8a898e;
}
.base-dark .mml-carousel-item > .mml-text {
  color: #868b91;
}

.messaging-light .mml-carousel-item > .mml-text {
  color: #8c8c8c;
}
.messaging-dark .mml-carousel-item > .mml-text {
  color: #898a8b;
}

.mml-carousel-item .mml-btn {
  padding: 10px 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e6;
}
.base-dark .mml-carousel-item .mml-btn {
  border-color: #1b2d46;
}

.messaging-light .mml-carousel-item .mml-btn {
  border-color: #d6d6d6;
}
.messaging-dark .mml-carousel-item .mml-btn {
  border-color: #252628;
}

.mml-col-align-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.mml-col-align-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.mml-col-1,
.mml-col-2,
.mml-col-3,
.mml-col-4,
.mml-col-5,
.mml-col-6,
.mml-col-7,
.mml-col-8,
.mml-col-9,
.mml-col-10,
.mml-col-11,
.mml-col-12 {
  position: relative;
  width: 100%;
  padding-right: 4px;
  padding-left: 4px;
}

.mml-col-1 {
  -webkit-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.mml-col-2 {
  -webkit-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.mml-col-3 {
  -webkit-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.mml-col-4 {
  -webkit-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.mml-col-5 {
  -webkit-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.mml-col-6 {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.mml-col-7 {
  -webkit-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.mml-col-8 {
  -webkit-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.mml-col-9 {
  -webkit-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.mml-col-10 {
  -webkit-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.mml-col-11 {
  -webkit-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.mml-col-12 {
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.mml-col-auto {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.mml-offset-1 {
  margin-left: 8.33333%;
}

.mml-offset-2 {
  margin-left: 16.66667%;
}

.mml-offset-3 {
  margin-left: 25%;
}

.mml-offset-4 {
  margin-left: 33.33333%;
}

.mml-offset-5 {
  margin-left: 41.66667%;
}

.mml-offset-6 {
  margin-left: 50%;
}

.mml-offset-7 {
  margin-left: 58.33333%;
}

.mml-offset-8 {
  margin-left: 66.66667%;
}

.mml-offset-9 {
  margin-left: 75%;
}

.mml-offset-10 {
  margin-left: 83.33333%;
}

.mml-offset-11 {
  margin-left: 91.66667%;
}

.mml-error {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 8px;
  color: #bb5151;
  font-size: 88%;
}

.mml-icon {
  font-family: "Material Icons";
  line-height: 16px;
  font-size: 16px;
}
.mml-icon__svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.mml-image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0;
}

.mml-input {
  position: relative;
  width: 100%;
  padding: 12px 16px;
  -webkit-appearance: none;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e6;
  color: #8a898e;
}
.base-dark .mml-input {
  border-color: #1b2d46;
}
.messaging-light .mml-input {
  border-color: #d6d6d6;
}
.messaging-dark .mml-input {
  border-color: #252628;
}

.base-dark .mml-input {
  color: #868b91;
}
.messaging-light .mml-input {
  color: #8c8c8c;
}
.messaging-dark .mml-input {
  color: #898a8b;
}
.mml-input:focus {
  outline: none;
  color: #0e1621;
}

.messaging-light .mml-input:focus {
  color: #0e1621;
}
.messaging-dark .mml-input:focus {
  color: #e8e8e9;
}
.mml-card-header + .mml-input {
  border-top: 0;
}
.mml-card .mml-input + .mml-btn {
  border-top: 0;
}

.mml-progress {
  width: 1em;
  color: #bbb;
  -webkit-animation: mml-animation-dash 1.4s ease-in-out infinite;
  animation: mml-animation-dash 1.4s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0px;
}
.mml-progress__svg {
  display: block;
}
.mml-progress__circle {
  stroke: currentColor;
}

@-webkit-keyframes mml-animation-dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@keyframes mml-animation-dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

.mml-loading {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 8px;
  font-size: 88%;
}
.mml-loading__text {
  padding-left: 8px;
}

.mml-md {
  padding: 2px 0;
  color: #0e1621;
}
.base-dark .mml-md {
  color: #fff;
}

.messaging-light .mml-md {
  color: #0e1621;
}
.messaging-dark .mml-md {
  color: #e8e8e9;
}

.mml-md blockquote {
  padding: 0 1em;
  margin: 1em 0;
  border-style: solid;
  border-width: 0 0 0 3px;
  border-color: #f2f2f2;
}
.base-dark .mml-md blockquote {
  border-color: #152438;
}

.messaging-light .mml-md blockquote {
  border-color: #fff;
}
.messaging-dark .mml-md blockquote {
  border-color: #3e4042;
}

.mml-md pre {
  padding: 2px 4px;
  margin: 0 0 1em;
  white-space: normal;
  background: #e5e5e6;
}
.base-dark .mml-md pre {
  background: #1b2d46;
}

.messaging-light .mml-md pre {
  background: #d6d6d6;
}
.messaging-dark .mml-md pre {
  background: #252628;
}

.mml-md code {
  color: #e83e8c;
  font-size: 87.5%;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}
.mml-md p {
  margin: 0;
}
.mml-md p:not(:first-child):not(:last-child) {
  margin: 0 0 1em;
}
.mml-md a {
  color: #006cff;
}
.base-dark .mml-md a {
  color: #006cff;
}

.messaging-light .mml-md a {
  color: #0283ff;
}
.messaging-dark .mml-md a {
  color: #0283ff;
}

.mml-number {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
}
.mml-number__count {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 8px;
  font-weight: bold;
  color: #0e1621;
}
.base-dark .mml-number__count {
  color: #fff;
}

.messaging-light .mml-number__count {
  color: #0e1621;
}
.messaging-dark .mml-number__count {
  color: #e8e8e9;
}

.mml-number .mml-btn {
  margin: 8px 8px;
}

.mml-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
  min-width: 100%;
}

.mml-card {
  width: 100%;
}
.mml-card .mml-btnlist {
  font-size: 14px;
  border: 0;
}
.mml-card > *:not(:first-child):not(:last-child) {
  background: #fff;
}
.base-dark .mml-card > *:not(:first-child):not(:last-child) {
  background: #0e1723;
}

.messaging-light .mml-card > *:not(:first-child):not(:last-child) {
  background: #f7f7f8;
}
.messaging-dark .mml-card > *:not(:first-child):not(:last-child) {
  background: #2d2e2f;
}

.mml-card > .mml-number {
  border-width: 0 1px;
  border-style: solid;
  border-color: #e5e5e6;
}
.base-dark .mml-card > .mml-number {
  border-color: #1b2d46;
}

.messaging-light .mml-card > .mml-number {
  border-color: #d6d6d6;
}
.messaging-dark .mml-card > .mml-number {
  border-color: #252628;
}

.mml-card > .mml-btn {
  min-width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e6;
}
.base-dark .mml-card > .mml-btn {
  border-color: #1b2d46;
}

.messaging-light .mml-card > .mml-btn {
  border-color: #d6d6d6;
}
.messaging-dark .mml-card > .mml-btn {
  border-color: #252628;
}

.mml-card > .mml-btn:last-child {
  padding: 10px 16px;
  border-radius: 0;
}
.mml-align-left .mml-card > .mml-btn:last-child {
  border-bottom-right-radius: 16px;
}
.mml-align-right .mml-card > .mml-btn:last-child {
  border-bottom-left-radius: 16px;
}

.mml-card-body {
  border-width: 0 1px;
  border-style: solid;
  border-color: #e5e5e6;
  background: #fff;
  color: #0e1621;
  font-size: 14px;
}
.base-dark .mml-card-body {
  border-color: #1b2d46;
}

.messaging-light .mml-card-body {
  border-color: #d6d6d6;
}
.messaging-dark .mml-card-body {
  border-color: #252628;
}

.base-dark .mml-card-body {
  background: #0e1723;
}

.messaging-light .mml-card-body {
  background: #f7f7f8;
}
.messaging-dark .mml-card-body {
  background: #2d2e2f;
}

.base-dark .mml-card-body {
  color: #fff;
}

.messaging-light .mml-card-body {
  color: #0e1621;
}
.messaging-dark .mml-card-body {
  color: #e8e8e9;
}

.mml-card-body > .mml-md,
.mml-card-body > .mml-text {
  padding: 0 8px 8px;
}
.mml-card-body > .mml-md:first-of-type,
.mml-card-body > .mml-text:first-of-type {
  padding-top: 8px;
}

.mml-card-header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  min-width: 100%;
  padding: 15px 0;
  font-size: 13px;
  background: #f2f2f2;
  color: #8a898e;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e6;
}
.base-dark .mml-card-header {
  background: #152438;
}

.messaging-light .mml-card-header {
  background: #fff;
}
.messaging-dark .mml-card-header {
  background: #3e4042;
}

.base-dark .mml-card-header {
  color: #868b91;
}

.messaging-light .mml-card-header {
  color: #8c8c8c;
}
.messaging-dark .mml-card-header {
  color: #898a8b;
}

.base-dark .mml-card-header {
  border-color: #1b2d46;
}

.messaging-light .mml-card-header {
  border-color: #d6d6d6;
}
.messaging-dark .mml-card-header {
  border-color: #252628;
}

.mml-card-header .mml-icon {
  padding-left: 16px;
  margin-right: -8px;
}
.mml-card-header__text {
  padding: 0 16px;
  font-weight: bold;
}

.mml-datepicker {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
}
.mml-datepicker__select {
  -webkit-flex: 1;
  flex: 1;
}
.mml-datepicker__select > div {
  overflow-y: scroll;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.mml-datepicker__select > div::-webkit-scrollbar {
  display: none;
}
.mml-datepicker__item {
  padding: 4px 5px;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.mml-datepicker__item--selected {
  color: #006cff;
  font-weight: bold;
}
.base-dark .mml-datepicker__item--selected {
  color: #006cff;
}

.messaging-light .mml-datepicker__item--selected {
  color: #0283ff;
}
.messaging-dark .mml-datepicker__item--selected {
  color: #0283ff;
}

.mml-datepicker--double .mml-datepicker__date {
  text-align: right;
}
.mml-datepicker--single .mml-datepicker__select {
  text-align: center;
}

.mml-scheduler .mml-datepicker {
  height: 217px;
  background: #fff;
}
.base-dark .mml-scheduler .mml-datepicker {
  background: #0e1723;
}

.messaging-light .mml-scheduler .mml-datepicker {
  background: #f7f7f8;
}
.messaging-dark .mml-scheduler .mml-datepicker {
  background: #2d2e2f;
}

.mml-scheduler .mml-datepicker__select {
  position: relative;
}
.mml-scheduler .mml-datepicker__select:before,
.mml-scheduler .mml-datepicker__select:after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  height: 10%;
  min-height: 60px;
  pointer-events: none;
}
.mml-scheduler .mml-datepicker__select:before {
  top: 0;
  background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
}
.base-dark .mml-scheduler .mml-datepicker__select:before {
  background-image: linear-gradient(to bottom, #0e1723, rgba(255, 255, 255, 0));
}

.messaging-light .mml-scheduler .mml-datepicker__select:before {
  background-image: linear-gradient(to bottom, #f7f7f8, rgba(255, 255, 255, 0));
}
.messaging-dark .mml-scheduler .mml-datepicker__select:before {
  background-image: linear-gradient(to bottom, #2d2e2f, rgba(255, 255, 255, 0));
}

.mml-scheduler .mml-datepicker__select:after {
  bottom: 0;
  background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
}
.base-dark .mml-scheduler .mml-datepicker__select:after {
  background-image: linear-gradient(to top, #0e1723, rgba(255, 255, 255, 0));
}
.messaging-light .mml-scheduler .mml-datepicker__select:after {
  background-image: linear-gradient(to top, #f7f7f8, rgba(255, 255, 255, 0));
}
.messaging-dark .mml-scheduler .mml-datepicker__select:after {
  background-image: linear-gradient(to top, #2d2e2f, rgba(255, 255, 255, 0));
}

.mml-success {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 8px;
  font-size: 88%;
  color: #006cff;
}
.base-dark .mml-success {
  color: #006cff;
}
.messaging-light .mml-success {
  color: #0283ff;
}
.messaging-dark .mml-success {
  color: #0283ff;
}

.mml-text {
  padding: 2px 0;
  color: #0e1621;
}
.base-dark .mml-text {
  color: #fff;
}
.messaging-light .mml-text {
  color: #0e1621;
}
.messaging-dark .mml-text {
  color: #e8e8e9;
}
.mml-text + .mml-text,
.mml-text + .mml-md {
  padding-top: 2px;
}
.mml-text + .mml-btnlist,
.mml-text + .mml-image {
  margin-top: 4px;
}
