rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
			match /data/{serviceId} {
        allow read;
        allow write: if false;
      }
      match /tickers/{ISIN} {
      	allow read;
        allow write: if false;
        
        match /data/{serviceId} {
          allow read;
          allow write: if false;
        }
        
        match /timeseries/{ts} {
          allow read;
          allow write: if false;
        }
      }
    	match /invites/{referralCode} {
        allow read;
        allow delete: if false;
      }

      match /users/{userId} {
      	allow read;
        allow create: if isValidUser(userId);
        allow delete: if isValidUser(userId);
        allow update: if isValidUser(userId);
        
        match /invites/{referralCode} {
          allow read, update, create: if request.auth != null && request.auth.uid == userId;
          allow delete: if false;
        }

        match /stream/{token} {
          allow read: if request.auth != null && request.auth.uid == userId;
          allow delete, update, create: if false;
        }
      }
      
      match /usernames/{username} {
      	allow read;
        allow create: if isValidUsername(username);
      }
      
      match /groups/{groupId} {
        allow read, write: if isGroupMember(groupId);

          // Explicitly define rules for the 'trades' subcollection
          // TODO: Create function to choose who can update these rather than anyone as below
          // TODO: ... see canCreatePost in https://github.com/fireship-io/next-firebase-course/blob/4fab05128a2ae5e9c6d51557922642e7daa41260/firestore.rules
          // * Trades ledger
          match /trades/{tradeId} {
            allow read, write: if false;
            // allow read, create: if request.auth != null && request.auth.uid == userId;
            // allow delete: if false;
            // allow update: if false;
          }
          // TODO Add requirements that the assetRef exists, price > 0 & shares > 0
          
          // Explicitly define rules for the 'holdings' subcollection
          match /holdings/{assetId} {
          	allow read;
            allow write: if false;
            // allow read, update, create: if request.auth != null && request.auth.uid == userId;
            // allow delete: if false;

          }
      }

      // // * Payment ledger
      // match /payments/{payments} {
        
      //   // Replace with checks on the count and the user id
      //   allow create: if request.auth != null 
      //                 && request.auth.uid == userId 
      //                 && request.resource.data.count > 0;
      //   allow update: if false;
      //   allow delete: if false;

      /* Helper functions */


      // Users

      function isValidUser(userId) {
        let isOwner = request.auth.uid == userId;
        let username = request.resource.data.username;
        let createdValidUsername = existsAfter(/databases/$(database)/documents/usernames/$(username));
        
        return isOwner && createdValidUsername;
      }
      
      function isValidUsername(username) {
        let isOwner = request.auth.uid == request.resource.data.uid;
        let isValidLength = username.size() >= 3 && username.size() <= 15;
        let isValidUserDoc = getAfter(/databases/$(database)/documents/users/$(request.auth.uid)).data.username == username;
        
        return isOwner && isValidLength && isValidUserDoc;     
      }

      function isGroupMember(groupId) {
        let username = get(/databases/$(database)/documents/users/$(request.auth.uid)).data.username;
        let investorExists = exists(/databases/$(database)/documents/groups/$(groupId)/investors/$(username));
        return investorExists;
      }

    }
  }
}

