@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply flex-1 font-work-sans rounded p-2 m-4 text-white bg-brand-light;
    }

    .btn:hover {
        @apply bg-brand;
    }

    .btn:focus {
        @apply ring-brand-light ring-opacity-50;
    }
    
    .btn:active {
        @apply bg-brand-dark;
    }

    .btn-transition {
        @apply transform transition;
    }
    .btn-transition:hover {
        @apply -translate-y-0.5;
    }

    .slide-card {
        @apply flex flex-col transition relative m-0 h-80 w-96 min-w-min p-6 rounded-2xl bg-white clear-both shadow-left
    }

    .slidecard:focus-within~.slide-card, .slide-card:hover~.slide-card {
        transform: translateX(50px);
    }
    
    .slide-card:hover {
        transform: translateY(-1rem);
    }

    .slide-card:not(:first-child) {
        margin-left: -50px;
    }
}

/* 
 * Need to update the following to remove the border line around the hits
 */
.ais-Hits-list {
    width: 100%;
}
.ais-Hits-item {
    width: 100%;
}


:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }
  

/* Dropdown Menu */

.dropdown {
    transform: translateX(-45%);
    transition: height var(--speed) ease;
  }
  
  .menu {
    width: 100%;
  }
  
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  
  .menu-item .icon-button {
    margin-right: 0.5rem;
  }
  
  .menu-item .icon-button:hover {
    filter: none;
  }
  
  .menu-item:hover {
    background-color: #525357;
  }
  
  .icon-right {
    margin-left: auto;
  }
  
  /* CSSTransition classes  */
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-exit {
  
  }
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }